firebaseConfig = {
    "apiKey": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "authDomain": "XXXXXXXXXXXXXXXXXXXXXXXXXX",
    "databaseURL": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "projectId": "XXXXXXXXXXXXXXXXX",
    "storageBucket": "XXXXXXXXXXXXXXXXXXXXXXXXX",
    "messagingSenderId": "XXXXXXXXXXXXX",
    "appId": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "measurementId": "XXXXXXXXXXXXX"
}